body {
    background: #ddd;
    color: black;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body.calendar {
    display: block;
}
body.calendar table {
    margin-bottom: 1em;
}
body.calendar td {
    padding: 0;
}
body.calendar a:link {
    display: block;
    width: 2em;
    height: 2em;
    text-decoration: none;
}
body.calendar a:link:before {
    content: "";
    position: absolute;
    top: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    border: 2px solid black;
    border-radius: 50%;
}

#credit {
    margin-top: 0.5em;
    font-size: 75%;
}
#credit a {
    text-decoration: none;
    color: black;
}

h1, h2 {
    font-size: 150%;
    margin: 4px 0;
}

.puzzle {
    border: 3px solid black;
    border-collapse: collapse;
}

.puzzle td {
    background: white;
    width: 2em;
    height: 2em;
    padding: 0.125em 0 0 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #666;
}
.puzzle td.block {
    background: black;
    color: #999;
    -webkit-print-color-adjust: exact;
}

.puzzle td.empty { visibility: hidden; }

.puzzle td .nr {
    color: black;
    font-size: 50%;
    line-height: 1em;
    padding: 1px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.puzzle td .letter {
    position: relative;
    z-index: 2;
    width: 1.5em;
    height: 1.5em;
    font-size: 125%;
}

.puzzle td.circle:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #333;
    border-radius: 50%;
}

.clues {
    max-width: 15em;
    padding: 0 8px;
}

.clues ol {
    padding: 0 0 0 1em;
    margin: 0 1em;
}

.clues li {
    padding: 0.125em 0.25em;
    line-height: 1.15em;
}

.clues li.done { color: #555; }

.clues li.selected { background: #9cf; }
.clues li.active { background: #eee; }

dt {
    float: left;
    clear: left;
    font-weight: bold;
    max-width: 15%;
}

dd {
    box-sizing: border-box;
    max-width: 85%;
    padding-left: 20px;
}

/************************/

.hidden { display: none; }
.puzzle td.secondary { background: #9cf; }
.puzzle td.primary { background: #fe9; }
